*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.bar{
    padding-top: 30px;
    width: 100%;
    height: 150px;
    display: block;
    
}

.navblock{
    width: 700px;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
}
.name{
    padding-top: 15px;
    text-align: center;
    padding-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}


.icons{
    width: 50%;
    height: 35%;
    padding-left: 35%;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.icons a{
    display: table;
    float: left;
    padding: 0px 10px;

}
.pictures{
    padding-top: 50px;
    
}
.pictures img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;
    width: 800px;
    height: 800px;
    padding-bottom: 15px;
}
.bottom{
    width: 100%;
    height: 100px;
    padding: 25px;
}
.contact{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 10px;
}
.logos{
    text-align: center;
    padding-top: 15px;
}
.logos a{
    padding: 10px;
    max-width: 12px;
}




