#home {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#nature {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#urban {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#bio {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}