/* You can add global styles to this file, and also import other style files */
html{
    background-image:
    linear-gradient(to bottom, #dbe0f65c, #dbe0f69b),
    url('images\city.jpg');
    background-size: auto 100%;
    background-position: center center;
    height: 100%;
}
body {
    margin:0;
}
