/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}
body {
    background-image:
    linear-gradient(to bottom, #dbe0f65c, #dbe0f69b),
    url('images\city.jpg');
    background-size: auto 100%;
    background-position: center center;
    
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-header{
    background-color: #f3cf04;
    padding: 0%;
    color: black;
}
.mat-tab{
    padding: 0%;
}