*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    background-color: lightgrey;
}
.boarder{
    padding-top: 20px;
}
.mainBlock {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: grey;
    background-color: white;
}
.header{
    height: 110px;
    background-image: url(images/banner.jpeg);
    background-size: cover;
    background-position: bottom;
}
.title1{
    color: white;
    padding-left: 30px;
    padding-top: 20px;
}
.title2{
    color: white;
    padding-left: 30px;
    padding-top: 20px;
    font-weight: normal;
}

.info{
    padding: 30px;
    padding-top: 20px;
}
.info h5{
    color:#4f6fad;
}
.info h5 .asterisk{
    color:red;
}

input{
    height: 25px;
    border-color: lightgrey;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
.info h5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.dis_and_cat .categoryField,
.dis_and_cat .distanceField{
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.distanceField{
    float: left;
}
.categoryField{
    float: right;
}
.categoryField select{
    border: 1px solid #ccc;
    height: 25px;
    width: 100%;
}
.bar{
    background-color: #4f6fad;
    width: 100%;
    height: 1px;
}

.loc_div label{
    
    color: #4f6fad;
}
.submitButton{
    color: white;
    width: 100px;
    height: 30px;
    background-color: #4f6fad;
    border-color: #4f6fad;
}

.clearButton{
    color: white;
    width: 100px;
    height: 30px;
    background-color: #ffb706;
    border: 1px solid black
    
}

.tableContainer{
    background-color: white;
}

.businessTable{
    margin-left: auto;
    margin-right: auto;
}

.businessTable table{
    width: 1500px;
    text-align: center;
    margin: 0 auto;
    border: 1px;
    border-color: #ccc;
}
.businessTable img{
    width: 150px;
    height: 150px;
    object-fit: fill;
    padding: 5px;
}
.tableHeader{
    background-color: #4f6fad;
    height: 50px;
}
.rowInfo{
    background-color: white;
}
#number_cell{
    width: 70px;
}
#rating_cell{
    width: 200px;
}
#distance_cell{
    width: 200px;
}

#image_cell{
    width: 150px;
    height: 150px;
}

#business_cell{
    width: 1500px;
}
#business_ID_name{
    width: 500px;
    height: 500px;
}

.cardInfoContainer{
    background-color: white; 
}
.infoCard{
    padding: 30px;
    width: 1000px;
    text-align: left;
    margin: auto;
    
}
.infoCard h2{
    text-align: center;
}
.detailsTable{
    width: 100%;
    table-layout: fixed;
    background-color: white;
    border-color: grey;
    border-width: thick;
}

.detailsTable th{
    font-size: x-large;
    height: 50px;
}
.detailsTable tr{
    
}
.threePictures{
    display: table-cell;
    border-color: lightgrey;
    height: 30px;
    border-style: solid;
    border-width: thin;
}
.threePictures img{
    object-fit: contain;
    height: 500px;
    width: 275px;
    object-position: top;
}
#line{
    color: #D3D3D3;
}

#closed{
    background-color: red;
    font-size: large;
    color: black;
    width: 100px;
    height: 40px;
    border-radius: 20px;

}
#open{
    background-color: rgb(8, 108, 40);
    font-size: large;
    color: black;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}
