<div class = "mainblock">
    <h3 class = "info_title">
        Business search
    </h3>
    <br>
    <form [formGroup]="infoFormGroup" (ngSubmit)="formSubmit()" id="infoFormJS">
        <!-- keyword container -->
        <div class="container text-left">
            <div class="row">
                <div class="col">
                    <!-- keyword field -->
                    <label for="keyword" class="form-label">
                        Keyword<span class="asterisk"> *</span>
                    </label>
                    <input type="text" class="form-control form-control-lg" id="keyword" formControlName="keyword" required>
                    <div *ngIf="noKeyword" class="form-control alert alert-danger">
                        Please enter a keyword
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- distance & category container-->
        <div class="container text-left">
            <div class="row">
                <div class="col">
                    <!-- distance field -->
                    <label for="distance" class="form-label">
                        Distance
                    </label>
                    <input type="text" class="form-control" id="distance"  formControlName="distance">
                </div>
                <div class="col">
                    <!-- category field -->
                    <label for="category" class="form-label">
                        Category<span class="asterisk"> *</span>
                    </label>
                    <select class="form-select" id="category"  formControlName="category">
                        <option value="All">Default</option>
                        <option value="arts">Arts & Entertainment</option>
                        <option value="health">Health & Medical</option>
                        <option value="travel">Hotels & Travel</option>
                        <option value="food">Food</option>
                        <option value="professional">Professional Services</option>
                      </select>
                </div>
            </div>
        </div>
        <br>
        <!-- Location container -->
        <div class="container text-left">
            <!-- Location field -->
            <div class="row">
                <div class="col">
                    <label for="location" class="form-label">
                        Location <span class="asterisk"> *</span>
                    </label>
                    <input type="text" class="form-control" id="location"  formControlName="location" required>
                    <div *ngIf="noLocation" class="form-control alert alert-danger">
                        Please enter a location
                    </div>
                    <br>
                    <!-- checkbox -->
                    <input class="form-check-input" type="checkbox"  formControlName="locationBoxCheck" (click)="locationBox()">
                    <label class="form-check-label" for="locationBoxCheck" id = "locationBoxCheck" >Auto-detect my location</label>
                </div>
            </div>
        </div>
        <br>
        <!-- button container -->
        <div class="container text-center">
            <div class="row justify-content-md-center">
              <div class="col-sm-2">
                <button type="submit" class="btn btn-danger" (click)="formSubmit()">Submit</button>
              </div>
              <div class="col-sm-1">
                <button type="button" class="btn btn-primary" (click)="clearInfo()">Clear</button>
              </div>
            </div>
        </div>
    </form>
</div>
<br>
<br>
<br>
<div *ngIf="haveBusinessTable" class = "businessTable" id = "businessTable">
    <table class="table table-striped">
        <thead class = "tableHeader">
        <tr>
            <th *ngFor = "let column of headers">
                {{column}}
            </th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of businessList; let i = index">
                <td class = "number_cell">{{i+1}}</td>
                <td class = "image_cell"><img src="{{item.image_url}}"></td>
                <td class = "business_cell"><a href="#businessInfo" (click) = "detailsSearch(item.id)">{{item.name}}</a></td>
                <td class = "rating_cell">{{item.rating}}</td>
                <td class = "distance_cell">{{item.distance}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="haveNoBusinessTable" class = "businessNoTable">
    <h5 style="color: red">
        No results avaliable
    </h5>
</div>
<br>
<br>
<div *ngIf="haveBusinessDetails" class = "container-fluid p-0 businessInfo">
    <div class="d-grid gap-2 d-md-block">
        <button class="btn" type="button" (click)="backbutton()">
            <h5 style="padding: 0%;">←</h5>
        </button>
    </div>
    <h3 class = "info_title">
        Business Info
    </h3>
    <br>
    <div class="container">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Business Details"> 
                <br>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-sm h-50 ">
                            <h5>Address</h5>
                        </div>
                        <div class="col-sm h-50">
                            <h5>Category</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm h-50 ">
                            <p>{{businessDetails.location}}</p>
                        </div>
                        <div class="col-sm h-50">
                            <p>{{businessDetails.category}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm h-50">
                            <h5>Phone</h5>
                        </div>
                        <div class="col-sm h-50">
                            <h5>Price range</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm h-50">
                            <p>{{businessDetails.phone}}</p>
                        </div>
                        <div class="col-sm h-50">
                            <p>{{businessDetails.price}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm h-50">
                            <h5>Status</h5>
                        </div>
                        <div class="col-sm h-50">
                            <h5>Visit Yelp for More</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm h-50">
                            <p>{{businessDetails.status}}</p>
                        </div>
                        <div class="col-sm h-50">
                            <a href={{businessDetails.url}} target="_blank" ><u>Business Link</u></a>
                        </div>
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col text-center">
                        Share on:   
                        <a target="_blank" href="https://twitter.com/intent/tweet?text=Check%20{{businessDetails.name}}%20on%20Yelp!&url={{businessDetails.url}}" class="mx-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                              <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                            </svg>
                          </a> <!--Twitter-->
                          <!--Facebook-->
                          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{businessDetails.url}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45"  fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                            </svg>
                          </a><!--Facebook-->
                    </div>
                </div>
                <br>
                <div class = "container text-center" style="height: 600px; width: 600px">
                    <div id="carouselImages" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active carousel_image_size">
                                <img src="{{businessDetails_photo_first}}" class="img-fluid w-50 h-50">
                            </div>  
                            <div class="carousel-item carousel_image_size" *ngFor="let item of businessDetails_photo" >
                                <img src="{{item}}" class="img-fluid w-50 h-50">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Map Location"> 
                <div>
                    <google-map height="550px" width="100%" [options]="mapOptions">
                       <map-marker [position]="marker.position" [label]="marker.label"></map-marker>
                    </google-map>
                </div>
            </mat-tab>
            <mat-tab label="Reviews"> 
                <div class = "container text-left">
                    <table class="table table-striped ">
                        <tbody>
                            <tr *ngFor ="let reviews of businessReviews">
                                <td>
                                    <h5 class="text-left">{{reviews.name}}</h5>
                                    <p class="text-left">Rating: {{reviews.rating}}/5</p>
                                    <br>
                                    <p class="text-left">{{reviews.review}}</p>
                                    <p class="text-left">{{reviews.time}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>
