<div class = "mainblock">
    <h3 class = "info_title">
        Business search
    </h3>
    <br>
    <div class="infoField" >
        <!-- keyword container -->
        <div class="container text-left">
            <div class="row">
                <div class="col">
                    <!-- keyword field -->
                    <label for="keyword" class="form-label">
                        Keyword<span class="asterisk"> *</span>
                    </label>
                    <input type="text" class="form-control form-control-lg" id="keyword">
                </div>
            </div>
        </div>
        <br>
        <!-- distance & category container-->
        <div class="container text-left">
            <div class="row">
                <div class="col">
                    <!-- distance field -->
                    <label for="distance" class="form-label">
                        Distance
                    </label>
                    <input type="text" class="form-control" id="distance">
                </div>
                <div class="col">
                    <!-- category field -->
                    <label for="category" class="form-label">
                        Category<span class="asterisk"> *</span>
                    </label>
                    <select class="form-select" id="category">
                        <option selected value = "all">Default</option>
                        <option value="arts">Arts & Entertainment</option>
                        <option value="health">Health & Medical</option>
                        <option value="travel">Hotels & Travel</option>
                        <option value="food">Food</option>
                        <option value="professional">Professional Services</option>
                      </select>
                </div>
            </div>
        </div>
        <br>
        <!-- Location container -->
        <div class="container text-left">
            <!-- Location field -->
            <div class="row">
                <div class="col">
                    <label for="location" class="form-label">
                        Location
                    </label>
                    <input type="text" class="form-control" id="location">
                    <br>
                    <!-- checkbox -->
                    <input class="form-check-input" type="checkbox">
                    <label class="form-check-label" for="locationBoxCheck" id = "locationText">Auto-detect my location</label>
                </div>
            </div>
        </div>
        <br>
        <!-- button container -->
        <div class="container text-center">
            <div class="row justify-content-md-center">
              <div class="col col-lg-2">
                <button type="button" class="btn btn-danger" onclick = "formInfo()">Submit</button>
              </div>
              <div class="col col-lg-2">
                <button type="button" class="btn btn-primary" onclick = "clearInfo()">Clear</button>
              </div>
            </div>
        </div>
    </div>
      
</div>